In [2]:
#Start by creating a connection to the database. 
#Use the username and password from your MySQL database:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21."
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016AC1BFD808>

In [6]:
#To create a database in MySQL, use the "CREATE DATABASE" statement:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21."
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE sprint")

In [7]:
#Return a list of your system's databases:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21.",
  database="muzi"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for db in mycursor: 
    print(db)

('information_schema',)
('muzi',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sprint',)
('sprint3',)
('store',)
('sys',)
('world',)

In [2]:
#Add more Products
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21.",
  database="muzi"
) 

cur=mydb.cursor()
s="INSERT INTO store (Chips,Cooldrinks,Chocolate,fruit,Veggies) Values(%s,%s,%s,%s,%s)"
sql=[
    ("Flyers","Spaletta", "Cudbary", "Mango", "Potatoes"),
    ("Zimba","Pepsi","Lidor", "Narties", "Cabagge")
]
cur.executemany(s,sql)
mydb.commit()

In [2]:
#CREATE COLUMNS
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21.",
  database="muzi"
) 

cur=mydb.cursor()

cur.execute("ALTER TABLE store ADD Sweets varchar(225)")

In [3]:
#CREATE COLUMNS
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21.",
  database="muzi"
) 

cur=mydb.cursor()

cur.execute("ALTER TABLE store ADD Biscuits varchar(225)")

In [3]:
#Select a product
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21.",
  database="muzi"
) 

cur=mydb.cursor()

cur.execute("SELECT Chips FROM world.store")

In [8]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21.",
  database="sprint"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Veggies (id INT AUTO_INCREMENT PRIMARY KEY, Simba VARCHAR(255), stock_price INT(255))")

In [36]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21.",
  database="world"
) 
db_cursor = mydb.cursor()
#Here creating database table as student'
db_cursor.execute("CREATE TABLE Chips (id INT, name VARCHAR(255))")
#Get database table'
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
    print(table)

('chips',)
('chocolate',)
('city',)
('country',)
('countrylanguage',)
('product',)
('store',)

In [38]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21.",
  database="world"
) 
db_cursor = mydb.cursor()
#Here creating database table as student'
db_cursor.execute("CREATE TABLE Cooldrinks (id INT, name VARCHAR(255))")
#Get database table'
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
    print(table)

('chips',)
('chocolate',)
('city',)
('cooldrinks',)
('country',)
('countrylanguage',)
('product',)
('store',)

In [39]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gladile21.",
  database="world"
) 
db_cursor = mydb.cursor()
#Here we modify existing column id
db_cursor.execute("ALTER TABLE Chips MODIFY id INT PRIMARY KEY")